<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aditya | Portfolio</title>
    <link href="https://db.onlinewebfonts.com/c/29800a9e7d146302b8ed9ad2f848db63?family=Druk+Wide+Web+Bold+Regular"
        rel="stylesheet">
    <link rel="stylesheet" href="static\css\main.css">
</head>

<body>


    <div class="logo-top ">
           
        <h1>DJANGO</h1>
        <h2 class=" hollow-text">DEV</h2>
    </div>


    <div class="logo-bottom ">

        <h3>HI THERE</h3>
        <h3 class='hollow-text'> THIS IS ADITYA <br> KUMAR YADAV</h3>
        <h3>
        AND NOW YOU <br>KNOW MY NAME
        </h3>
    </div>




    <div class="main">

        
            <div id="panel">
              <div class="mncircle"></div>
              <div class="mncircle"></div>
              <div class="mncircle"></div>
              <div class="mncircle"></div>
              <div class="mncircle"></div>
            </div>

            <div class="btn">
                <h6 style="color: white;"><a href="{% url 'about' %}">Explore</a></h6>
            </div>
        

        <div class="circle" id="circle">

            <div class="stripe str1">
                <div class="first">
                    <div class="smcircle"></div>
                </div>
                <div class="sec">
                    <h4>01</h4>
                    <div class="space"></div>
                    <h4 class="lighten"><a href="{% url 'about' %}">About</a></h4>
                </div>
            </div>

            <div class="stripe str2">
                <div class="first">
                    <div class="smcircle"></div>
                </div>
                <div class="sec">
                    <h4>02</h4>
                    <div class="space"></div>
                    <h4 class="lighten"><a href="{% url 'skills' %}">Skills</a></h4>
                </div>
            </div>

            <div class="stripe str3">
                <div class="first">
                    <div class="smcircle"></div>
                </div>
                <div class="sec">
                    <h4>03</h4>
                    <div class="space"></div>
                    <h4 class="lighten"><a href="{% url 'work' %}">Work</a></h4>
                </div>
            </div>

            <div class="stripe str4">
                <div class="first">
                    <div class="smcircle"></div>
                </div>
                <div class="sec">
                    <h4>04</h4>
                    <div class="space"></div>
                    <h4 class="lighten"><a href="{% url 'orgs' %}">Orgs</a></h4>
                </div>
            </div>

            <div class="stripe str5">
                <div class="first">
                    <div class="smcircle"></div>
                </div>
                <div class="sec">
                    <h4>05</h4>
                    <div class="space"></div>
                    <h4 class="lighten"><a href="{% url 'contact' %}">Contact</a></h4>
                </div>
            </div>

        </div>

    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="static\js\script.js"></script>
</body>

</html>